<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1041571634549-pqej86vcn44crui08b8m3mp1415hg21a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1041571634549-pqej86vcn44crui08b8m3mp1415hg21a</string>
	<key>API_KEY</key>
	<string>AIzaSyCvTaJUQ-yVg8Adwo589BAejDDGFzH_yq0</string>
	<key>GCM_SENDER_ID</key>
	<string>1041571634549</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.artify</string>
	<key>PROJECT_ID</key>
	<string>artify-3b638</string>
	<key>STORAGE_BUCKET</key>
	<string>artify-3b638.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1041571634549:ios:2376f88055db69ca59073c</string>
</dict>
</plist>